$monospace: 'bitstream_vera_sans_monoroman', Consolas, Monaco, Menlo, 'Andale Mono', monospace;

$default: #ccc; //gray
$background: #182531; //nav blue
$selected: mix(white, $background, 5%); //grayish
$variable: #EBC883; //gold
$keyword: #D74D50; //red
$attribute: $keyword;
$error: desaturate(#f2777a, 10%); //pale red
$string: #FFCA6B; //gold
$atom: $variable;
$variable2: #6699cc; //blue
$bracket: mix($background, $default, 60%); //light white
$comment: mix($background, $default, 45%); //light white
$gutterbg: rgba(black, 0.31);

@import "bitstream", "slim-gym", "icomoon";

body {
	background:darken($background, 3%);
	color:$default;
	padding:40px 0;
	font-size:16px;
}
.row {
	max-width:72em;
}
textarea {
	-webkit-appearance:none;
	width:100%;
	box-shadow:none;
	border:1px solid $background;
	background:$background;
	min-height:800px;
	&:focus {

	}
}
.slim_gym {
	&-title {
		color:#50575E;
		font-size:4em;
		margin:0.5em 0;
		font-family:'Arvo', Georgia, serif;
		font-weight:bold;
		text-transform: uppercase;
		text-shadow:-4px -3px 0 rgba(black, 0.2);
		&--sub {

		}
	}
	&-logo {
		path {
			fill:$string;
		}
	}
	&-align-center {
		text-align:center;
	}
}
.reset {
	color:$default;
}
#errorZone {
	text-align:right;
	display:inline-block;
	background:#7E2124;
	border-radius:17px;
	color:white;
	padding:8px 14px 9px 14px;
	position:absolute;
	top:0;
	right:0;
}