$monospace: 'bitstream_vera_sans_monoroman', Consolas, Monaco, Menlo, 'Andale Mono', monospace;

@import "bitstream", "slim-gym";

.row {
	max-width:100%;
}
h2 {
	text-align:center;
}
textarea {
	-webkit-appearance:none;
	width:100%;
	box-shadow:none;
	border:1px solid #e9e9e9;
	height:500px;
	&:focus {

	}
}
.slim_gym {
	&-title {
		text-align:center;
		font-size:2em;
		margin:0 0 0.5em 0;
		&--sub {

		}
	}
}